@mixin font-face($font-name, $path, $weight) {
  @font-face {
    font-family: $font-name;
    src: url('/assets/fonts/' + $path + '.woff2') format('woff2');
    font-display: swap;
    font-weight: $weight;
  }
}

:root {
  --font-main: 'beausityclassic';
}

@include font-face("beausityclassic", 'beausityclassic-medium', 500);
